.alignleft{float:left; margin-left:0px}
.aligncenter{display:block; margin:10px auto}
.alignright{float:right; margin-left:10px}
.floatleft{float:left}
.floatright{float:right}
.center{width:980px; display:block; margin:0 auto; padding:20px; background:#fff; transition:all 1.3s ease 0s; -moz-transition:all 1.3s ease 0s; -webkit-transition:all 1.3s ease 0s; -o-transition:all 1.3s ease 0s; -ms-transition:all 1.3s ease 0s}

.main_content{width:670px}
.left_coloum{width:450px}
.single_left_coloum_wrapper{position:relative; margin-left:-10px; margin-bottom:30px}
.single_left_coloum_wrapper .title{margin-left:10px}
.title{border-bottom:4px solid #CF0000; font-family:'bebasregular'; font-size:20px; word-spacing:2px; text-transform:uppercase;}
.more{background:url("../img/plus.png") no-repeat scroll 57px 9px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:4px 20px; position:absolute; right:0; text-transform:uppercase; top:10px}
.popular_more{background:url("../img/plus.png") no-repeat scroll 57px 12px #CF0000; color:#FFF; display:block; font-size:10px; font-weight:bold; padding:7px 20px; text-transform:uppercase; width:74px; margin-top:10px}
.single_left_coloum{margin-left:10px; width:143px}
.readmore, .single_cat_right_content_meta span{color:#CF0000; font-size:10px; text-transform:uppercase; font-weight:bold; margin-right:20px}
.readmore:hover, .single_cat_right_content_meta span:hover{color:#CF0000; text-decoration:underline}
.gallery{}
.gallery img{margin-bottom:10px; margin-left:10px; width:141px}
.single_cat_left{}
.single_cat_left_content{border-bottom:1px dotted #000; margin-left:10px; width:220px}
.single_cat_left_content h3{font-size:15px}
.single_cat_left_content_meta{font-size:11px}
.single_cat_left_content_meta span{color:#cf0000}
.right_coloum{width:190px}
.single_right_coloum{margin-bottom:20px}
.single_right_coloum ul{margin:0; padding:0; list-style:none}
.single_right_coloum ul li{border-bottom:1px dotted #ddd}
.single_right_coloum ul li:last-child{border-bottom:none}
.single_cat_right_content{padding-bottom:10px}
.single_cat_right_content h3{margin-top:10px}
.single_cat_right_content_meta{}
.editorial{}
.editorial h3{color:#CF0000}
.sidebar{width:250px}
.single_sidebar{margin-bottom:20px}